<footer
  class="box-shadow"
  style="background-color: var(--secondary-color); height: 100px; display: flex; justify-content: center; align-items: center; gap: 10px; margin-top: 10px">
  <span style="color: white;">Todos los derechos reservados</span>
  <a href="#">
    <img ngSrc="assets/svg/facebook.svg" alt="facebook" height="48" width="48">
  </a>
  <a href="#">
    <img ngSrc="assets/svg/instagram.svg" alt="instagram" height="48" width="48">
  </a>
  <a href="#">
    <img ngSrc="assets/svg/twitter.svg" alt="twitter" height="48" width="48">
  </a>
</footer>
