<div class="container box-shadow">
  <section class="superior">
    <div class="date-time-container">
      <span class="date">14 de marzo 2020</span>
      <span class="time">14:30 PM</span>
    </div>
    <div class="genre-container">
      <span>Rock</span>
    </div>
  </section>

  <section class="middle">
    <img
      src="https://th.bing.com/th/id/OIP.OVaNiPfcNxfXkiN09-3IxQHaHa?rs=1&pid=ImgDetMain"
      alt="event image">
  </section>
  <section class="bottom">
    <div class="description-container">
      <span class="span-description">Bon Jovi en concierto, no te lo pierdas</span></div>
    <div class="place-container">
      <span class="span-place">CC TEATRO LEGUIA - LIMA</span>
    </div>
  </section>
</div>
